In [16]:
import pandas as pd
pd.read_csv('sample.csv',names=["a","b","c","d","e"])

        a                           b         c        d        e
0    name                       email  address   pincode  sirname
1   niraj   nirajsharma6065@gmail.com        up   560012     niru
2  dhiraj  dhirajsharma6065@gmail.com        up   560013    dhiru
3   suraj   surajsharma6065@gmail.com     bihar   274401     suru
4  sudhir  sudhirsharma6065@gmail.com       blr   247702   shudhu

In [24]:
import tkinter
tw=tkinter.Tk()
tw.mainloop()

In [1]:
print("hello Neurons")

hello Neurons

In [3]:
print("good 
      Evening")

SyntaxError: unterminated string literal (detected at line 1) (Temp/ipykernel_9780/1176626673.py, line 1)

In [4]:
print("""
H
J
K""")

H
J
K

In [10]:
print('Hi my name is "Sunny" ')

Hi my name is "Sunny"

In [11]:
print(3-5)

-2

In [12]:
x=10
print(x)

10

In [13]:
x=10
y=4
print(x/y)

2.5

In [14]:
print(x-y)

6

In [17]:
a=5.1
type(a)

float

In [18]:
print(pi)

NameError: name 'pi' is not defined

In [19]:
a=11
print(type(a)

<class 'int'>

In [21]:
one=True
two=False

print(type(two))

<class 'bool'>

In [22]:
a1=20
b1=10
a1==b1

False

In [27]:
name="NIRAJ"
print('my name is:"name"')

my name is:"name"

In [28]:
ten=10
print(ten)

10

In [29]:
TEN=10
print(TEN)

10

In [32]:
print="hi there"
type(print)
del print

In [31]:
del print

In [34]:
a,b,c,yes=10,20.2,"summy",True
type(a)

int

In [35]:
type(b)

float

In [36]:
type(c)

str

In [37]:
type(yes)

bool

In [43]:
a,b,c="sunny","bhavana","chandra"
print(f'{a}.{c}@gmail.com')

sunny.chandra@gmail.com

In [45]:
print(f"""
My name is:{Niraj}
I live at:{Bangalore}
I was born in:{17.10.2001}
My weight is:{70} in kgs
""")

SyntaxError: f-string: invalid syntax. Perhaps you forgot a comma? (Temp/ipykernel_9780/2142686230.py, line 4)

In [46]:
print(f"""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
My weight is: {weight} in Kgs
""")

NameError: name 'place' is not defined

In [47]:
name=input("enter your name:")
print(f"you have entered:{name}")

enter your name:Niraj kumar sharma
you have entered:Niraj kumar sharma

In [57]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(f"Sum of A and B is: {A+B}")

Enter value of A: 1
Enter value of B: 1
Sum of A and B is: 11

name = input("Name:")

In [58]:
name=input("Name:")
place=input("place:")
YOB=input("Year_of_birth:")

print(f"""
My name is:{name}
I live at:{place}
I was born in:{YOB}
""")

Name:niraj
place:bangalore
Year_of_birth:2001

My name is:niraj
I live at:bangalore
I was born in:2001

In [63]:
m1=int(input("enter the value of m1:"))
m2=int(input("enter the value of m2:"))

print(type(m1),type(m2))

print(f"Sum of m1 and m2 is:{m1+m2}")

enter the value of m1:12
enter the value of m2:2
<class 'int'> <class 'int'>
Sum of m1 and m2 is:14

In [5]:
if condition:
    print("execute this statement")
else:
    print("if condition is not true")

NameError: name 'condition' is not defined

In [4]:
raining=True
if raining:
    print("lets do WFH")
else:
    print("lets go to Office")

lets do WFH

In [3]:
raining = True

if raining: # TRUE CONDITION 
    print("Lets do work from home") # This statemen exectuted
else:
    print("Lets go to office")

Lets do work from home

In [6]:
raining = False

if raining: # TRUE CONDITION 
    print("Lets do work from home") # This statemen exectuted
else:
    print("Lets go to office")

Lets go to office

In [8]:
raining=False
if raining:
    print("since its rainig...")
    print("lets do work from home")
else:
    print("since its not raining...")
    print("lets go to office")

since its not raining...
lets go to office

In [11]:
class_started=True
if class_started:
    print("lets study")
else:
    print("lest revise")

lets study

In [13]:
class_started=False
if not class_started:
    print("since class is not started...")
    print("Lets revise")
else:
    print("since class started..")
    print("lets concentrate")

since class is not started...
Lets revise

In [16]:
vegetable_present=True
salt_present=True
if vegetable_present and salt_present:
    print("its a good dish")
else:
    print("its a bad dish")
    print(f"because vegetable present:{vegetable_present}")
    print(f"and salt prsent:{salt_present}")

its a good dish

In [17]:
name="satym"
print(f"hi my name is:{name}")

hi my name is:satym

In [21]:
i_own_car=True
i_own_bike=False
if i_own_car or i_own_bike:
    print("I can travel 100 kms in a day")
else:
    print("I am stuck as I don't have car or bike")

I can travel 100 kms in a day

In [24]:
attendence=70
assignment_submitted=40
print(f"attendence criteria met?:{attendence>=75}")
print(f"assignment criteria met?:{assignment_submitted>=70}")
if attendence>=70 and assignment_submitted>=70:
    print("The student is eligible to appear in final exam")
else:
    print("The student is not eligible")

attendence criteria met?:False
assignment criteria met?:False
The student is not eligible

In [28]:
credit_card=True
debit_card=False
if credit_card  or debit_card:
    print("proceed further for payment")
else:
    print("Ask form a dad for bedit card or credit card")
    print("cash on delivery")

proceed further for payment

In [32]:
a=1
b=3
if a is not b:
    print("a and b are same")
else:
    print("a and b are not same")

a and b are same

In [31]:
id(a)

2158718157040

In [35]:
A=3
B=1
if A!=B:
    print("A and B are same")
else:
    print("A and B are not same")

A and B are same

In [37]:
A=1
B=int(input("enter tge value of B"))
A is B

enter tge value of B1

True

name

In [39]:
name=input("enter your name:")
if name=="sunny bhaeen chandra":
    print(f"he is the mentor")
else:
    print(f"Its possible that he/she is a student")

enter your name:sunny
Its possible that he/she is a student

In [47]:
a=10
b=10
integer_division=b%a
print(f"integer division:{b}/{a}={integer_division}")

integer division:10/10=0

In [48]:
A=55
B=2
if A%B==0:
    print(f"A:{A} is divisible by B: {B}")
else:
    print(f"A:{A} is NOT divisible by B:{B}")

A:55 is NOT divisible by B:2

In [49]:
name="Sunny"
name[0]

'S'

In [50]:
name[4]

'y'

In [51]:
name[-1]

'y'

In [52]:
name[1:]

'unny'

In [53]:
name[1:3]

'un'

In [55]:
name[1:4]

'unn'

In [56]:
name[-4:-1]

'unn'

In [58]:
date="08/05/2022"
today_s_date=date[0:2]
month=date[3:5]
year=date[6:]
print(f"its {today_s_date}th of the month:{month} of the year:{year}")

its 08th of the month:05 of the year:2022

In [60]:
date=input("input a string:")
reverse=date[::-1]
print(date,reverse)

input a string:niraj
niraj jarin

In [3]:
a=2
b=3
niraj_division= b%a
print(f"Integer division:{b}%{a}={niraj_division}")

Integer division:3%2=1

In [4]:
a=22
b=9
if a%b==0:
    print("a is divisible by b")
else:
    print("a is not divisible by b")

a is not divisible by b

In [6]:
data=input("enter you name")
reverse=data[::-1]
if data==reverse:
    print("input string is paliddrome")
else:
    print("input string is not paliddrome")

enter you nameradar
input string is paliddrome

In [10]:
name="niraj"

"N"+ name[1:]

'Niraj'

In [14]:
name="niraj"
name=name.replace("n","N")
name

'Niraj'

In [15]:
len(name)

5

In [17]:
name.count("n")
name

'Niraj'

In [18]:
name="sunny mondal and gudiya rani"
"*".join(name)

's*u*n*n*y* *m*o*n*d*a*l* *a*n*d* *g*u*d*i*y*a* *r*a*n*i'

In [19]:
"_".join(name)

's_u_n_n_y_ _m_o_n_d_a_l_ _a_n_d_ _g_u_d_i_y_a_ _r_a_n_i'

In [20]:
"|".join(name)

's|u|n|n|y| |m|o|n|d|a|l| |a|n|d| |g|u|d|i|y|a| |r|a|n|i'

In [21]:
name.replace(" ","|")

'sunny|mondal|and|gudiya|rani'

In [23]:
name="niraj"
name.center(10,"#")

'##niraj###'

In [25]:
name.isupper()

False

In [26]:
name.lower()

'niraj'

In [27]:
name.upper()

'NIRAJ'

In [ ]:
name=input("enter your name")
print(f"user input:{name}")
if name.istittle():
    print(f"user has given correct input")
elif name.isspace():
    print(f"wrong input please try again!!")
else:
    print(f"wrong input we need to autocorrect it")
    name=name.tittle()
    print(f"correct output:{name}")

In [ ]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
  print(f"user has given correct input")
elif name.isspace():
  print(f"Wrong input please try again!!")
else:
  print(f"wrong input we need to autocorrect it")
  name = name.title()
  print(f"Correct output: {name}")

In [ ]:
phone_number="6388229930"
phone_number.isdigit()

In [30]:
phone_number="6388229930"
phone_number.isdigit()

True

In [31]:
phone_number="6388aa229930"
phone_number.isdigit()

False

In [34]:
phone_number=input("enter your phone no:")
if phone_number.isdigit() and len(phone_number)==10 and phone_number!="00000000000":
    print(f"user input is correct")
else:
    print("invalid input")

enter your phone no:000000000000000
invalid input

In [37]:
a=input("enter your Indian phone no:")
if phone_number.startswitch("+91") and phone_number[1:].isdigit() and len(phone_number)==13:
    print(f"user input is correct")
else:
    print("Invalid input")

enter your Indian phone no:6388229930

AttributeError: 'str' object has no attribute 'startswitch'

In [39]:
total_amount=10+20+62+50
print(f"cart total:{total_amount}")
if total_amount>100:
    price_after_discount=total_amount*70/100
    print(f"pay amount:{price_after_discount}")
elif total_amount<=100 and total_amount>=50:
    price_after_discount=total_amount*80/100
else:
    print(f"pay amount:{total_amount}")

cart total:142
pay amount:99.4

In [42]:
val=float(input("enter a number:"))
if val>=0:
    if val==0:
        print("Its zero")
    else:
        print("Its a positie no")
else:
    print("Negatie number")

enter a number:-1
Negatie number

In [44]:
val=float(input("enter a number"))
if val>99:
    print("yes")
else:
     print("no")

enter a number55
no

In [51]:


cutoff=400
scores=[100,200,300,399,500]
year=0
while scores[year]<cutoff:
    print(f"Your score is:{scores[year]},cutoff:{cutoff}")
    print("I will attempt next year")
    year=year+1

Your score is:100,cutoff:400
I will attempt next year
Your score is:200,cutoff:400
I will attempt next year
Your score is:300,cutoff:400
I will attempt next year
Your score is:399,cutoff:400
I will attempt next year

In [52]:
year=4
scores[year]

500

In [53]:
notes=10
i=1
while i<=notes:
    print(f"current sum:{i*10}")
    i=i+1

current sum:10
current sum:20
current sum:30
current sum:40
current sum:50
current sum:60
current sum:70
current sum:80
current sum:90
current sum:100

In [55]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [59]:
num=3
if num%2==0:
    print("the no is even")
else:
    print("the no is odd")

the no is odd

In [60]:
a,b,c=120,13,15
if a>b:
    if a>c:
        print(f"a is greater than all 3 nos:{a}")

a is greater than all 3 nos:120

In [63]:
attendence=70
assignment_submitted=40
sports_player=True
print(f"attendence criteria met?:{attendence>=75}")
print(f"assignment criteria met?:{assignment_submitted>=70}")
print(f"sports criteeria met?:{sports_player}")
if attendence>=75 and assignment_submitted>=70:
    if sports_player:
        print("The student is eligible to appear in final exam")
    else:
        print("The student is eligible to appear in final exam")
else: 
    print("The student is not eligible")

attendence criteria met?:False
assignment criteria met?:False
sports criteeria met?:True
The student is not eligible

In [1]:
import pandas as pd
data=pd.read_csv('addresses.csv')
data

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [2]:
type(data)

pandas.core.frame.DataFrame

In [3]:
data.head()

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US

In [4]:
data.head(7)

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US

In [5]:
data.tail()

,id,location_id,address_1,address_2,city,state_province,postal_code,country
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [6]:
data.tail(6)

,id,location_id,address_1,address_2,city,state_province,postal_code,country
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [7]:
data.columns

Index(['id', 'location_id', 'address_1', 'address_2', 'city', 'state_province',
       'postal_code', 'country'],
      dtype='object')

In [8]:
type(data['state_province'])

pandas.core.series.Series

In [9]:
data['address_1']

0          2600 Middlefield Road
1               24 Second Avenue
2               24 Second Avenue
3               24 Second Avenue
4               24 Second Avenue
5              800 Middle Avenue
6                 500 Arbor Road
7              800 Middle Avenue
8          2510 Middlefield Road
9          1044 Middlefield Road
10           2140 Euclid Avenue.
11         1044 Middlefield Road
12           399 Marine Parkway.
13            660 Veterans Blvd.
14          1500 Valencia Street
15           1161 South Bernardo
16       409 South Spruce Avenue
17              114 Fifth Avenue
18           19 West 39th Avenue
19            123 El Camino Real
20    2013 Avenue of the fellows
Name: address_1, dtype: object

In [11]:
data[['id','address_1']]

    id                   address_1
0    1       2600 Middlefield Road
1    2            24 Second Avenue
2    3            24 Second Avenue
3    4            24 Second Avenue
4    5            24 Second Avenue
5    6           800 Middle Avenue
6    7              500 Arbor Road
7    8           800 Middle Avenue
8    9       2510 Middlefield Road
9   10       1044 Middlefield Road
10  11         2140 Euclid Avenue.
11  12       1044 Middlefield Road
12  13         399 Marine Parkway.
13  14          660 Veterans Blvd.
14  15        1500 Valencia Street
15  16         1161 South Bernardo
16  17     409 South Spruce Avenue
17  18            114 Fifth Avenue
18  19         19 West 39th Avenue
19  20          123 El Camino Real
20  21  2013 Avenue of the fellows

In [15]:
pd.read_excel("airline1.xls")

    YEAR       Y      W       R      L      K
0   1948   1.214  0.243  0.1454  1.415  0.612
1   1949   1.354  0.260  0.2181  1.384  0.559
2   1950   1.569  0.278  0.3157  1.388  0.573
3   1951   1.948  0.297  0.3940  1.550  0.564
4   1952   2.265  0.310  0.3559  1.802  0.574
5   1953   2.731  0.322  0.3593  1.926  0.711
6   1954   3.025  0.335  0.4025  1.964  0.776
7   1955   3.562  0.350  0.3961  2.116  0.827
8   1956   3.979  0.361  0.3822  2.435  0.800
9   1957   4.420  0.379  0.3045  2.707  0.921
10  1958   4.563  0.391  0.3284  2.706  1.067
11  1959   5.385  0.426  0.3856  2.846  1.083
12  1960   5.554  0.441  0.3193  3.089  1.481
13  1961   5.465  0.460  0.3079  3.122  1.736
14  1962   5.825  0.485  0.3783  3.184  1.926
15  1963   6.876  0.506  0.4180  3.263  2.041
16  1964   7.823  0.538  0.5163  3.412  1.997
17  1965   9.120  0.564  0.5879  3.623  2.257
18  1966  10.512  0.586  0.5369  4.074  2.742
19  1967  13.020  0.622  0.4443  4.710  3.564
20  1968  15.261  0.666  0.3052  5.217  4.767
21  1969  16.313  0.731  0.2332  5.569  6.511
22  1970  16.002  0.831  0.1883  5.495  7.627
23  1971  15.876  0.906  0.2023  5.334  8.673
24  1972  16.662  1.000  0.2506  5.345  8.331
25  1973  17.014  1.056  0.2668  5.662  8.557
26  1974  19.305  1.131  0.2664  5.729  9.508
27  1975  18.721  1.247  0.2301  5.722  9.062
28  1976  19.250  1.375  0.3452  5.762  8.262
29  1977  20.647  1.544  0.4508  5.877  7.474
30  1978  22.726  1.703  0.5877  6.108  7.104
31  1979  23.619  1.779  0.5346  6.852  6.874

In [16]:
pd.read_excel("airline1.xls", sheet_name="Sheet2")

   YEAR      Y      W       R      L      K
0  1948  1.214  0.243  0.1454  1.415  0.612
1  1949  1.354  0.260  0.2181  1.384  0.559
2  1950  1.569  0.278  0.3157  1.388  0.573
3  1951  1.948  0.297  0.3940  1.550  0.564
4  1952  2.265  0.310  0.3559  1.802  0.574
5  1953  2.731  0.322  0.3593  1.926  0.711
6  1954  3.025  0.335  0.4025  1.964  0.776
7  1955  3.562  0.350  0.3961  2.116  0.827
8  1956  3.979  0.361  0.3822  2.435  0.800

In [17]:
data1=pd.read_excel("airline1.xls", sheet_name="Sheet3",header=None)

In [18]:
data1

       0       1      2       3      4      5
0   1960   5.554  0.441  0.3193  3.089  1.481
1   1961   5.465  0.460  0.3079  3.122  1.736
2   1962   5.825  0.485  0.3783  3.184  1.926
3   1963   6.876  0.506  0.4180  3.263  2.041
4   1964   7.823  0.538  0.5163  3.412  1.997
5   1965   9.120  0.564  0.5879  3.623  2.257
6   1966  10.512  0.586  0.5369  4.074  2.742
7   1967  13.020  0.622  0.4443  4.710  3.564
8   1968  15.261  0.666  0.3052  5.217  4.767
9   1969  16.313  0.731  0.2332  5.569  6.511
10  1970  16.002  0.831  0.1883  5.495  7.627
11  1971  15.876  0.906  0.2023  5.334  8.673
12  1972  16.662  1.000  0.2506  5.345  8.331
13  1973  17.014  1.056  0.2668  5.662  8.557
14  1974  19.305  1.131  0.2664  5.729  9.508
15  1975  18.721  1.247  0.2301  5.722  9.062

In [19]:
data1.to_csv('test1.csv', index=False)

In [43]:
a=pd.read_csv("https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/addresses.csv")

In [44]:
a

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [34]:
c = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

print(c)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [49]:
import numpy as np

In [50]:
range(10)

range(0, 10)

In [51]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [54]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [55]:
np.arange(5,-4,-.5)

array([ 5. ,  4.5,  4. ,  3.5,  3. ,  2.5,  2. ,  1.5,  1. ,  0.5,  0. ,
       -0.5, -1. , -1.5, -2. , -2.5, -3. , -3.5])

In [57]:
list(np.linspace(1,5,10,retstep=True))

[array([1.        , 1.44444444, 1.88888889, 2.33333333, 2.77777778,
        3.22222222, 3.66666667, 4.11111111, 4.55555556, 5.        ]),
 0.4444444444444444]

In [58]:
a1=np.random.randn(2,9)

In [59]:
a1

array([[-0.26682523, -1.10104848, -1.46090437,  0.28177932, -1.22473229,
         0.76307435, -1.36162003,  0.14065233, -0.74565864],
       [-0.13054835,  0.83127369,  1.22646827,  0.89927612,  3.07731135,
         0.30846665,  1.08074902, -0.11384094, -1.12398382]])

In [61]:
import pandas as pd
pd.DataFrame(a1)

,0,1,2,3,4,5,6,7,8
0,-0.266825,-1.101048,-1.460904,0.281779,-1.224732,0.763074,-1.361620,0.140652,-0.745659
1,-0.130548,0.831274,1.226468,0.899276,3.077311,0.308467,1.080749,-0.113841,-1.123984

In [62]:
a1

array([[-0.26682523, -1.10104848, -1.46090437,  0.28177932, -1.22473229,
         0.76307435, -1.36162003,  0.14065233, -0.74565864],
       [-0.13054835,  0.83127369,  1.22646827,  0.89927612,  3.07731135,
         0.30846665,  1.08074902, -0.11384094, -1.12398382]])

In [64]:
import cufflinks as cf
import numpy as np
import pandas as pd
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [65]:
df=pd.DataFrame(np.random.randn(100,3), columns=["A","B","C"])

In [66]:
df

           A         B         C
0   1.266800  1.316991 -0.183425
1  -2.007032 -0.012512  0.096883
2  -0.362233 -0.241566  0.612905
3   0.020136  0.641349 -1.237450
4   0.227400 -2.071426  0.682115
..       ...       ...       ...
95 -0.798014  0.688040  1.230293
96  0.043763  0.457023 -0.007682
97 -1.188191  0.088161 -1.433856
98 -0.562981 -0.701457  1.725707
99 -0.924674  0.401177 -1.620283

[100 rows x 3 columns]

Exception: chart_studio is required outside of offline mode: please run pip install chart_studio